input {
  outline: none;
}

button {
  margin: 20px;
  border: none;
  cursor: pointer;
  background-size: 200% auto;
 background-color: #1890ff;
 color: #fff;
 padding: 3px 4px;
}

.app {
  margin: 50px;
  text-align: center;
}

.app__token {
  color: rgb(19, 168, 19);
}

.app__err {
  color: red;
}
